<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        <script src="/js/app.js "></script>
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Nitish Sharma. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/10585369_679582532128941_1870101182_n.jpg">
        </div>
        {{>footer}}
    </body>
</html>